.cambiaContrasena{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "fotoAva conCamContra"
        "descrip descrip";
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 1px #000;
    padding: 2em;
}
.avtarContra{
    grid-area: fotoAva;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: auto;
}
.conCambiaContra{
    grid-area: conCamContra;
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 80%;
}
.conCambiaContra p, .conDescripcion p{
    margin-top: 0.5em;
    font-weight: bold;
    font-size: 20px;
}
.conBoton{
    grid-area: conCamContra;
    display: flex;
    justify-content: end;
    margin: 0.5em;
}
.cambiarContraBoton, .eviarDescrip{
    
    background: transparent;
    border-radius: 6px;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: black; 
    border: 2px solid #FE8F4B;

   
}
.cambiarContraBoton:hover, .eviarDescrip:hover{
    background-color: #FE8F4B;
    color: white;
}
.conDescripcion{
    grid-area: descrip;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    width: 80%;
}
.textAreaDes{
    width: 100%;
}
/*estilo formularios*/
input[type=text], select, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/*Moviles*/
@media screen and  (max-width: 640px) {
    
 .cambiaContrasena{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "fotoAva" 
        "conCamContra"
        "descrip";
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 1px #000;
    padding: 2em;
 }
}