@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Fira+Sans&family=Oxygen&family=Roboto&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Dorid Sans',
    'Helvetica Neue', sans-serif;
}
body {
    font: 14px / 1.4 sans-serif;
    background-color: #D5D5D5;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 25% 7% auto 8%;
    grid-template-areas:
    "head head head"
    "nav nav nav"
    "main main main"
    "foot foot foot";

    height: 100%;
}
/*Cabecera*/
.cabecera{
    grid-area: head;

    background-image: url("/assets/img/login_bg.jpg");
    background-position:  100%;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
}
.navegador, footer{
    background-color: #D06320;
}
/*Navegdor*/
.navegador{
    grid-area: nav;
    position: sticky;
    top: 0;
    font-weight: 500;
    font-size: 1.05em;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navegador .altLogo{
    display: none;
    height: 40px;
    margin-right: auto;
}
#userLogo{
    height: 26px;
    border-radius: 50%;
}
.userProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}
.navegador .navI{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navegador .navD{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#notificationContainer a{
    text-decoration: none;
    color: black;
}
.listas{
    margin: 3px 3px 0 3px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 3px;
}
.listas li{
    position: relative;
    padding: 10px;
    color: aliceblue;
}
.navLink{
    text-decoration: none;
    color:#fff;
}
.navegador li:hover{
    background-color:#FE8F4B;
    font-weight: bold;
}
/*Desplegable usuario*/
.opUsuario{
    display:none;
    position:absolute;
    background-color: #ababab;
    margin-top: 0;
    padding: 0;
    z-index: 2;
    border-radius: 4% 4% 4% 4%;
    margin-left: 0;
}
.opUsuario li{
    padding:0;
    margin: 0.4em;
    list-style: none;
}
.opUsuario  li:hover > a{
    /* color: black; */
    width: 120px;
}
.opUsuario  li a{
    width: 150px;
    margin: 0 0 0 5px;
    display:block;
    color: #2c2525;
    font-size: 1em;
    font-weight: bold;
}
.navD  li:hover > ul{
    display:block;
    width: 150px;
    top: 3.1em;
}
.navD  li:hover::after{
    border-color: #fff transparent transparent transparent;
}
.navD .opUsuario span{
    height: 15px;
    width: 3px;
    position: absolute;
    top: 6px;
    left: 5px;
}
.navD li ul li {

    background-color: #e6e6e6;

    padding: 0.5em;

    border-radius: 4% 4% 4% 4%;
}
.navD li ul li:hover {
    background-color: #FE8F4B;
}
/*Desplegable notificaciones*/
.navD li > .hoverElement{
    display:none;
    position:absolute;
    background-color: #D06320;
    margin-top: 0;
    padding: 0;
    z-index: 2;
    right: 0;
}
.navD  li > .hoverElement p{
    margin: 0;
    display:block;
    color: black;
}
.navD  li:hover > .hoverElement{
    display:block;
    width: 250px;
    height: 250px;
    top: 2.5em;
    border: 0.5px solid #d06320;
    background-color: #ababab;
}
.navD .listaNoti span{
    height: 15px;
    width: 3px;
    position: absolute;
    top: 6px;
    left: 5px;
}
.navD li .hoverElement{
    background-color: #ababab;
    border-radius: 4% 4% 4% 4%;
    /* border: 0.5px solid #b98c3e; */
}
.contenidoNoti{
    margin: 20px auto 0;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4%;
    padding: 6px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.navegador h3,h5{
    color: black;
    font-weight: bold;
    margin-top: 4px;
    margin-left: 3px;
    margin-bottom: 2px;
    text-align: center;
    background: white;
    border-radius: 4%;
}
.notificacion{
    width: 100%;
    margin-top: 6px;
    color: black;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(2,auto);
    grid-template-areas:
  "icon mesage mesage mesage mesage"
  "time time time time delete";
    background-color: white !important;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 1px #000;
}
.notifiIcon, .mensaje{
    border-bottom: grey 0.5px solid;
}
.notifiIcon{
    grid-area: icon;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5em;
}
.mensaje{
    grid-area: mesage;

    font-size: 12px;
    padding: 1em;
}
.fecha{
    grid-area: time;
    display: flex;
    flex-direction: row;
    background-color: white !important;
    padding: 0.5em;
}
.fecha p{
    font-size: 12px;
}
.basura{
    grid-area: delete;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5em;
}
/*Main*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-area: main;

    width: 80%;
    margin: 40px auto;
}
.main .relleno{
    height: 90%;
    margin: 2em auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Caja pregunta*/
#cajaPregunta{
    margin-top: 7px;
    width: 100%;

    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
 "tags tituloPre"
 "textoPre textoPre"
 "adjuntos archivo";

    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 1px #000
}
.conTags,.conPreguntaTitu,.conAdjunto,.conTextoPre,.conArchivos,.conAdjunto2,.conArchivosRe{
    display: flex;
    align-items: center;
    padding: 0.5em;
}
.conTags p,.conAdjunto p, .conPreguntaTitu .preguntaTitu, .conAdjunto2 p{
    font-size: 18px;
}
.conTags{
    grid-area: tags;
}
.conPreguntaTitu{
    grid-area: tituloPre;
    margin: 0;
}
.conTextoPre{
    grid-area: textoPre;
}
.conAdjunto{
    grid-area: adjuntos;
}
.conArchivos{
    grid-area: archivo;
}
.conTags,.conPreguntaTitu,.conTextoPre,.conTextoRes,.conAdjunto2,.conArchivosRe{
    border-bottom: grey 0.5px solid;
}
/*AÃ±adir respuesta*/
#medio{
    margin-top: 14px;
    margin-bottom: 7px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#tituRes{
    font-size: large;
}
#anadir{

    background: transparent;
    border-radius: 6px;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border: 2px solid #FE8F4B;
}
#anadir:hover {
    background-color: #FE8F4B;
    color: white;
}
/*Caja Respuesta*/
#cajaRespuesta{
    margin-top: 14px;
    width: 100%;

    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
 "conTextoRes conTextoRes"
 "conAdjunto2 conArchivosRe"
 "contenedorAbajo contenedorAbajo";

    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 1px #000;

}
.conTextoRes{
    grid-area: conTextoRes;
}
.conTextoRes p{
    margin: 0 auto;
    padding: 2em;
    width: 80%;
}
.conAdjunto2{
    grid-area: conAdjunto2;
}
.conArchivosRe{
    grid-area: conArchivosRe;
}
.contenedorAbajo{
    grid-area: contenedorAbajo;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.conUsuario{
    display: flex;
    margin: 2px;
    padding: 3px;

}
.parteDrc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
#star,#up{
    margin: 2px;
    padding: 3px;
}
/*Footer*/
footer{
    grid-area: foot;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:sticky;
}
footer .listaD{
    list-style: none;
    display: flex;
    flex-direction: row;
}
footer .fotoI{
    margin-left: 30px;
    color: #fff;

    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
}
footer .fotoI img{
    height: 40px;
}
.listaD li:hover{
    background-color: #D06320;
}
/*Moviles*/
@media only screen and  (min-width: 640px) {
    .opUsuario{
        left: 0;
    }
}
@media only screen and (max-width: 640px) {
    .container{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 7% auto 13%;
        grid-template-areas:
        "nav nav nav"
        "main main main"
        "foot foot foot";
    }
    .navegador{
        font-size: 0.8em;
    }
    #notifiText{
        display: none;
    }
    .opUsuario{
        right: 0;
    }
    #username{
        display: none;
    }
    .cabecera{
        display: none;
    }.navegador .altLogo{
         display: block;
     }
    .pie .fotoI .version{
        display: none;
    }
}